<div np-controller='ScorebarController'>
  <div class='scorebar'>
    <span>Current Score: {{currentScore}}</span>
    <span>High Score: {{highScore}}</span>
<!--     <form>
      <input type='text' ng-model='user.username' placeholder='Username'>
      <input type='text' ng-model='user.password' placeholder='Password'>
      <input type='button' value ='Sign In' ng-click='signin()'>
      <input type='button' value ='Sign Up' ng-click='signup()'>
    </form>
      US States<input type='radio' ng-click='stateQuiz()' name='choices'>
      Countries<input type='radio' ng-click='countryQuiz()' name='choices'> -->
    </div>
  <div ui-view></div>
</div>